{% extends 'base_forest.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s6 offset-s3 forest-wrapper">
          <h1>Delete Character</h1>
        
          <h4>Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?</h4>
        
          <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes - Delete!" class="btn">
            <a href="{% url 'characters_detail' character.id %}">Cancel</a>
          </form>
        </div>
    </div>
</div>
{% endblock %}