{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tavern Talk</title>
    <link href="https://fonts.googleapis.com/css?family=Charm|El+Messiri|IM+Fell+English+SC|Uncial+Antiqua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body id="study">
    <header class="navbar-fixed opacity">
        <nav id="study-nav">
            <ul>
                <li><a href="{% url 'profile_page' %}" class="left brand-logo">&nbsp;&nbsp;TavernTalk</a></li>
            </ul>

            <ul class="right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'characters_create' %}">New Character</a></li>
                <li><a href="{% url 'games_create' %}">New Game</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <!-- <li><a href="{% url 'login' %}">Log In</a></li> -->
                <!-- <li><a href="{% url 'signup' %}">Sign Up</a></li> -->
            {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
     <footer id="study-footer" class="page-footer">
       <div class="right">All Rights Reserved, &copy; 2019 TavernTalk &nbsp;</div>
    </footer>


</body>
</html>