body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white;
  font-family: 'El Messiri', sans-serif;

}

#tavern {
  background: url('../images/landing_page.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: #E4B96D;
}

#study {
  background: url('../images/user_page.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

#armory {
  background: url('../images/character_page.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

#commons {
  background: url('../images/game_page.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

#forest {
  background: url('../images/forest.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

#game-wrapper {
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  font-family: 'IM Fell English SC', serif;
}

main {
  flex: 1 0 auto;
}

.navbar-fixed {
  opacity: .9;
}

#tavern-nav {
  background-color: rgba(35, 22, 15, .9);
}

#study-nav, #study-footer {
  background-color: rgba(7, 5, 8, 0.7);
}

#armory-nav, #armory-footer {
  background-color: rgba(28, 17, 24, .8);
}

#commons-nav, #commons-footer {
  background-color: rgba(17, 19, 7, .8);
}

#forest-nav, #forest-footer {
  background-color: rgba(17, 19, 7, .8);
}

a {
  color: rgb(99, 183, 228);
}

#home-content {
  text-align: center;
  margin-top: 15vmin;
  background-color: rgba(72, 78, 68, .8);
  border-radius: 5px;
  box-shadow: 0 0 20px 2px #E4B96D;
}

.home-p {
  font-size: 4vmin;
}

.tavern-h1 {
  font-family: 'Uncial Antiqua', cursive;
  color: #DFD5B0;
}

#login-content {
  background-color: rgba(72, 78, 68, .8);
  border-radius: 5px;
  box-shadow: 0 0 20px 2px #E4B96D;
  color: #DFD5B0;
  margin-top: 4vmin;
  padding: 3vmin;
}

#signup-content {
  background-color: rgba(72, 78, 68, .8);
  border-radius: 5px;
  box-shadow: 0 0 20px 2px #E4B96D;
  color: #DFD5B0;
  margin-top: 13vmin;
  padding: 3vmin;
}

label {
  font-size: 3vmin;
  color: #DFD5B0;
}

input {
  color: rgb(172, 134, 120);
}

textarea {
  color: #DFD5B0;
}

.btn {
  background-color: rgb(96, 170, 209);
}

.study-wrapper, .character-wrapper {
  margin-top: 18vh;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.study-h1 {
  background-color: rgba(9, 9, 26, 0.7);
  color: #F1BC88;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 11px 2px #C95228;
}

.study-h3 {
  background-color: rgba(9, 9, 26, 0.7);
  color: #F1BC88;
  border-radius: 5px;
  border: 1px solid #C95228;
  padding: 5px;
  font-size: 4vmin;
}

.study-li{
  font-size: 2.6vmin;
  font-weight: bold;
  color: rgb(255, 227, 176);
  background-color: rgba(16, 11, 24, 0.7);
  box-shadow: 0 0 20px 1px #654a90cc;
}

.study-a {
  font-size: 2.6vmin;
  font-weight: bold;
  color: rgb(176, 230, 255);;
}

h2 {
  color: rrgb(194, 207, 218);
  border-bottom: 2px solid rgb(191, 181, 199);
  box-shadow: 8px 5px 12px 0 rgba(159, 142, 173, 0.8);
  margin-bottom: 5vh;
}

#char-links-row, #game-links-row {
  margin-bottom: 8vh;
}

.character-wrapper {
  font-family: 'Uncial Antiqua', cursive;
}

.character-col-wrapper {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

form.card-panel {
  background-color: rgb(95, 157, 182);
}

.char-form {
  background-color: rgba(30, 30, 30, .6);
  width: 25vw;
  padding: 3vmin;
}

.char-a {
  font-size: 5vh;
  color: rgb(229, 222, 194);
  background-color: #211E25;
  border: 1px solid rgb(229, 222, 194);
  padding: 5px;
  border-radius: 2px;
}

#session-col-wrapper, #character-col-wrapper {
  background-color: rgba(33, 24, 6, .7);
  color: #DFD5B0;
}

h3 {
  border-bottom: 2px solid #DFD5B0;
}

.game-a {
  font-size: 3vh;
  color: #DFD5B0;
}

.game-char-link {
  font-size: 3min;
  color: rgb(176, 230, 255);
}

.game-form {
  background-color: rgba(33, 24, 6, .7);
  padding: 3vmin;
}

#description {
  font-size: 4vmin;
}

.session-row {
  border-bottom: 1px solid #E4B96D;
  padding: 8px;
}

#session-form-wrapper {
  background-color: rgba(49, 13, 1, 0.8);
  border: 1px solid black;
  padding: 1vmin;
}

.game-btn {
  background-color: #F1BC88;
  color: rgb(49, 13, 1);
}

.forest-wrapper {
  font-family: 'Charm', cursive;
}

#id_date, #id_location, #id_note {
  font-size: 2vmin;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  opacity: .9;
}

#top-profile {
  margin-top: 9vmin;
  padding: 5vmin;
}

#username {
  padding: 0 0 0 20vmin;
  margin: -10vmin 0 -5vmin 0;
}

#card-profile-img {
  width: 30vw;
  height: 40vh;
  max-height:30vw;
  object-fit: contain; 
}


#profile-img {
  width: 30vw;
  height: 40vh;
  max-height:30vw;
  object-fit: contain; 
}

#bottom-profile {
  padding: 0 2vmin 0 2vmin;
}

#charheader {
  font-size: 3vh;
  display: inline-block;
  padding: 8px;
  border-bottom: 2px solid #ffcb98;
  border-radius: 2px;
  margin-bottom: 2vh;
  color: #ffcb98;
  background-color: rgba(33, 30, 37, .8);
}

#charsheet {
  height: 70vh;
  max-height:60vw;
  object-fit: contain; 
  box-shadow: 6px 5px 20px 0px rgb(21, 20, 22);
}

#charimg {
  margin-top: 2vmin;
  box-shadow: 0px 0px 20px 20px rgb(21, 20, 22);
}


#tavern-footer {
  background-color: rgba(35, 22, 15, .9);
  color: #E4B96D;
}
