body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#tavern {
  background: url('../images/landing_page.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: #E4B96D;
}

#study {
  background: url('../images/user_page.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

#armory {
  background: url('../images/character_page.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}

.navbar-fixed {
  opacity: .8;
  background-color: #23160f;
}

nav {
  background-color: rgba(35, 22, 15, .9);
}

#home-content {
  text-align: center;
  margin-top: 15vmin;
  background-color: rgba(72, 78, 68, .7);
  border-radius: 5px;
}

#signup-wrapper {
  background-color: #23160F;
  color: white;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}


#ses {
  width: 0 20vmin 0 0;

}
#tavern-footer {
  background-color: #23160F;
  color: #E4B96D;

}