body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: #23160F;
}

.tavern-wrapper {
  background: url('../images/landing_page.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.study-wrapper {
  background: url('../images/user_page.jpg') no-repeat fixed;
  background-size: cover;
}

#home-content-fix {
  position: fixed;

}

#home-content {
  background-color: #23160F;
  color: white;
}

#signup-wrapper {
  background-color: #23160F;
  color: white;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}