{% extends 'base.html' %}
{% block content %}

<h1><em>{{game.name}}</em></h1>

<a href="{% url 'games_update' game.id %}">Edit Game</a>

<div>
    <p style="font-weight:bold">{{game.description}}</p>
    <img src="" alt="">
</div>

<div>
    Comment block 
    form for rich text editor goes in here
</div>

<h2>Upcoming Sessions</h2>
<ul>
    <li>
        List Date, Time, Location, Notes
    </li>
</ul>

If GM:
<form action="">
    Form for creating a meeting
</form>

<ul>
    <li>
        Index past meetings
    </li>
</ul>

<h2>Characters</h2>
<ul>
    <li>
        Characters listed as links to Ch. Detail page
    </li>
</ul>
{% endblock %}